.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #d8b4fe;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  height: 30rem;
}
